/And.class
/Filtro.class
/FiltroCombinado.class
/FiltroFecha.class
/FiltroFechaDeCreacion.class
/FiltroFechaDeUltimaVotacion.class
/FiltroNivelDeVerificacion.class
/FiltroTipoDeInsecto.class
/Or.class
